*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background : linear-gradient(#e9c4bf, #fff7f9);
}

.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.content-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;

}

.content-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}

.content-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;   
}

.content-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.content-inputs:focus{
    border: 2px, solid, #ff994f;
}

.content-inputs::placeholder{
    color: #a9a9a9;
}

.content-left button{
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding-left:70px;
    font-size:16px;
    color: #fff;
    gap: 10px;
    border:none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
}

.map iframe{
    width: 500px;
    border-radius: 15px;
}

@media (max-width:400px){
    .content{
        margin-top: 25px;
        flex-direction: column;
        margin-top: 80px;
    }

    .content-inputs{
        width: 370px;
    }

    .contact-inputs{
        width: 60vw;
    }

    .map iframe{
        margin-top: 10px;
        width: 410px;
        border-radius: 15px;
    }

}

@media (max-width:900px){
    .content{
        flex-direction: column;
        margin: 10px:
    }
}